/* Trivia website v1 */
body {
  background-color: #273258;
  font-family: sans-serif;
  text-align: center;
}

header {
  background-color: #CE65A8;
  padding: 20px;
  width: 100%;
  text-align: center;
}

header h1 {
  color: #E7D40F;
  margin: 0;
}


h2 span {
  color: white;
}

p span {
  color: white;
}

section {
  margin: 20px;
  width: 100%;
}

a {
  background-color:	#00B2EE;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}


#info {
  background-color: #CE65A8;
  padding: 20px;
}

#list {
  padding: 5px;
  text-align: center;
}

#yellow {
  color: #E7D40F;
}
